/***********************************
			GENERAL TAGS
***********************************/

h1 {

}

nav {

}

ol, ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

p {
	font-family: "Open Sans", sans-serif;
}

a {
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}

a:hover {
	text-decoration: underline;
}

/***********************************
			CONTAINER
***********************************/

.container {
	max-width: 800px;
	margin: 0 auto;
}

/***********************************
			  FORM
***********************************/

.hero {
	background-color: #e6e6fa;
	padding: 20px 0;
	text-align: center;
	color: #fff;
	margin-bottom: 40px;
}

.nav-item {
	display: inline;
	margin-right: 10px;
	padding-left: 10px;
	color: #6d6d6d;
}

/***********************************
			  POSTS
***********************************/

.post-meta-item {
	display: inline;
	margin-right: 10px;
}